@{
    Layout = null;
}
<html>
<head>
    <title>OpenID Connect Session Management Sample RP : RP iframe</title>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/core.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/sha256.js"></script>

    <script language="JavaScript" type="text/javascript">
        var stat = "unchanged";

        var client_id = "@Html.Raw(ViewData["clientId"])";
        var session_state = "@Html.Raw(ViewData["session_state"])";
        var mes = client_id + "########" + session_state;

        var opDomain = "@ViewData["OPDomain"]";

        var checkSessionInterval = null;

        function check_session() {
            var win = window.parent.document.getElementById("opIFrame").contentWindow;
            win.postMessage(mes, opDomain);
        }

        function setTimer() {
            reauthenticate();
            window.parent.document.getElementById('notice').innerHTML = "Checking OP Session Status...";
            //check_session();
            checkSessionInterval = setInterval("check_session()", 3 * 1000);
        }

        if (window.addEventListener) {
            window.addEventListener("message", receiveMessage, false);
        } else if (window.attachEvent) {
            window.attachEvent("onmessage", receiveMessage);
        }

        function receiveMessage(e) {
            if (e.origin !== opDomain) { return; }
            stat = e.data;
            noticeToParentWindow(stat);
        }

        function noticeToParentWindow(stat) {
            if (stat == "changed") {
                window.parent.document.getElementById('notice').innerHTML = "stat is changed now. Sending re-authentication with prompt=none to fetch current user identity now";
                reauthenticate();
                clearInterval(checkSessionInterval);
            }
            //do nothing
        }
        function reauthenticate() {
            $.ajax({
                url: '@Url.Action("Reauthenticate", "Account")',
                type: 'POST',
                success: function (data) {
                    window.parent.document.getElementById('notice').innerHTML = "reauthentication is done" + data.authorizationResult.session;
                    if (data.authorizationResult.isLoggedOut) {
                        alert("logged out");
                        //window.parent.location = "@Url.Action("SignOut", "Account")";
                    }
                },
                error: function () {
                }
            });
        }
    </script>
</head>
<body onload="setTimer()">
    This is RP_IFrame
</body>
</html>
