@{
    ViewBag.Title = "Implicit Page";
}
@section featured {
    <script src="../Scripts/jquery-3.3.1.js"></script>
    <script src="../Scripts/oauth2client.js"></script>
    <div class="page-header">
        <h1>OAuth2 Client Sample</h1>
    </div>
}

<div class="round">
    <div>
        <h4>Implicit result from authorization endpoint</h4>
    </div>
    <div id="authorizationRequestResult">
        @if (@ViewBag.ResponseMode == "form_post")
        {
            if (ViewBag.IdToken != "none")
            {
                <div class="alert alert-info" style="word-wrap: break-word;">
                    <strong>Id token:</strong> @ViewBag.IdToken
                </div>
                <div class="alert alert-info" style="word-wrap: break-word;">
                    <strong>Access token:</strong> @ViewBag.AccessToken
                </div>
            }
            else
            {
                <div class="alert alert-warning" style="word-wrap: break-word;">
                    <strong>Error:</strong> @ViewBag.Error
                </div>
                <div class="alert alert-warning" style="word-wrap: break-word;">
                    Error description: @ViewBag.ErrorDescription
                </div>
            }
        }
    </div>

    <br />

    <div>
        <script>
            $(function () {
                if ("@ViewBag.ResponseMode" == "form_post") {
                    return;
                }
                var params = {},
                    queryString = location.hash.substring(1),
                    regex = /([^&=]+)=([^&]*)/g,
                    m;
                while (m = regex.exec(queryString)) {
                    params[decodeURIComponent(m[1])] = decodeURIComponent(m[2]);
                }

                if (params.error) {
                    log("#authorizationRequestResult","errorid", "Error: ", params.error);
                    log("#authorizationRequestResult", "errorDescriptionid", "Error description: ", params.error_description);
                    return;
                }

                var idtoken = params.id_token;
                log("#authorizationRequestResult", "idtokenid", "Id Token Obtained: ", idtoken);

                var token = params.access_token;
                log("#authorizationRequestResult", "accesstokenid", "Access Token Obtained: ", token);
            });

        </script>
    </div>
</div>
