@{
}
@model Thinktecture.IdentityModel.Clients.AccessTokenResponse


<h2>Access Token</h2>
<div class="alert alert-info" style="word-wrap: break-word;">
    <strong>Token:</strong> @Model.AccessToken
</div>
<div class="alert alert-info" style="word-wrap: break-word;">
    <strong>Token type:</strong> @Model.TokenType
</div>
<div class="alert alert-info" style="word-wrap: break-word;">
    <strong>Expires:</strong> @(DateTime.Now.AddSeconds(Model.ExpiresIn).ToString())
</div>
<div class="alert alert-info" style="word-wrap: break-word;">
    <strong>Refresh token:</strong> @Model.RefreshToken
</div>
<div class="row">
    <div class="col-md-3">
        @using (Html.BeginForm("CallService", "Home"))
        { 
            @Html.Hidden("token", @Model.AccessToken)

            <input type="submit" value="Call service" class="btn btn-lg btn-primary" />
        }
    </div>
    <div class="col-md-3">
        @using (Html.BeginForm("RenewToken", "Home"))
        { 
            <input type="hidden" name="refreshToken" value="@Model.RefreshToken" />
            <input type="submit" value="Renew Token" class="btn btn-lg btn-primary" />
            
        }
    </div>
    <div class="col-md-3">
        @using (Html.BeginForm("CallUserManagement", "Home"))
        {
            @Html.Hidden("accessToken", @Model.AccessToken)
            <input type="submit" value="Create user" class="btn btn-lg btn-primary" />
        }
    </div>
</div>


